---
import '/src/styles/global.css'
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">

<nav class="navbar max-md:hidden fixed top-8 left-1/2 transform -translate-x-1/2 z-50 w-auto rounded-md">
        <div
            class="flex items-center justify-between gap-8 bg-transparent glass-effect rounded-md px-8 py-4 max-md:h-14 border border-gray-700/50">
            <div class="flex items-center">
                <i class="ri-terminal-line mr-5 max-md:ml-5 text-md text-white"></i>
                <p class="text-white">Rzfan03</p>
            </div>
            <div>
                <button><i class="ri-menu-4-line text-lg text-white ml-4 mr-4 md:hidden"></i></button>
            </div>
            <div class="text-sm ml-2 max-md:hidden">
                <a href="/" class="text-gray-400 hover:underline hover:text-white transition-all">/home</a>
                <a href="#about" class="text-gray-400 hover:underline hover:text-white transition-all">/about</a>
                <a href="/projects" class="text-gray-400 hover:underline hover:text-white transition-all">/projects</a>
                <a href="/contact" class="text-gray-400 hover:underline hover:text-white transition-all">/contact</a>
            </div>
            <div>
                <a href="https://github.com/Rzfan03" target="_blank"><i class="ri-github-fill text-white text-2xl max-md:hidden"></i></a>
            </div>
            </div>
        </nav>